{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'contact:contact' as contact_url %}
{% url 'accounts:profile' as profile_url %}
<!-- Footer-->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
            <ul class="icons">
                <li><a href="https://www.linkedin.com/in/alfrida-westberg-5a8431204/" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="https://github.com/Intergalaxen" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://mobile.twitter.com/intergalaxen" class="icon fa-twitter"><span class="label">Twitter</span></a></li>            
                <li><a href="https://www.reddit.com/user/Intergalaxen" class="icon fa-reddit"><span class="label">Reddit</span></a></li>            
            </ul>
        </div>
    </div>
</footer>